/* Chatbot.css */

.chatbot-container {
  width: 400px;
  margin: 30px auto;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chatbot-messages {
  height: 400px;
  overflow-y: scroll;
  padding: 8px;
}
.chatbot-messages p {
  display: flex;
  justify-content: center;
}
.message {
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}
.user-message {
  background-color: var(--color-green-pastel);
  /*color: #fff;*/
  text-align: right;
  white-space: pre-line;
  tab-size: 4;
}
.ai-message {
  background-color: #f0f0f0;
  text-align: left;
  white-space: pre-line;
  tab-size: 4;
}
.chatbot-input-form {
  display: flex;
  flex: 1;
  /*margin-top: 16px;*/
}
.chatbot-input-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  /*border-radius: 4px 0 0 4px;*/
  font-size: 16px;
}
.chatbot-input-form button {
  padding: 8px 16px;
  border: none;
  background-color: var(--color-green-pastel);
  /*color: #fff;*/
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}
.chatbot-input-form button:hover {
  background-color: var(--color-green-pastel);
}
.chatbot-menu {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.refresh-button {
  display: flex;
  border: none;
  justify-content: center;
  padding: 8px;
  background-color: var(--color-green-pastel);
  border-radius: 4px 0 0 4px;
}

.refresh-button img {
  height: 30px;
}

.version {
  font-size: 8px;
  color: darkgray;
  text-align: center;
  margin: 5px 0 0 0;
}